.list-category{
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(85, 81, 81);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid rgb(85, 81, 81);
    border-radius: 5px;
    background-color: aqua;
}
.list-items li{
    font-size: 1.5em;
    text-align: center;
    margin: 0;

}
.list-items li:hover{
    color: rgb(252, 23, 23);
    cursor: pointer;
}